@charset "UTF-8";
@import url(//db.onlinewebfonts.com/c/f220dbb7bde1d00644ad365e87d02af1?family=Coco+Gothic);
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@font-face {
  font-family: Coco-Light;
  src: url(/Fuente/CocoGothic-UltraLight_trial.ttf);
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: white;
}

/*Global*/
img {
  max-width: 100%;
}

a,
button {
  text-decoration: none;
}

.mail {
  color: white;
  font-size: 3rem;
  margin-top: 0;
}

/* Navegación */
.navegacion a {
  color: black;
  text-decoration: none;
  font-size: 2.2rem;
  display: block;
}

@media (min-width: 768px) {
  .navegacion a {
    display: inline-block;
    font-size: 1.8rem;
    margin-right: 2rem;
  }
  .navegacion a :last-of-type {
    margin: 0;
  }
}

.navegacion a:hover {
  color: #2abbff;
}

.navegacion a:last-of-type {
  margin-right: 0;
}

.h2-other {
  font-size: 4rem;
  font-weight: 500;
  margin-left: 1rem;
  text-align: center;
}

.h2-footer {
  font-size: 4rem;
  font-weight: 500;
  width: 95%;
  max-width: 150rem;
  /** = 1200px**/
  margin: 3rem auto;
  text-align: center;
}

.contenedor-body {
  width: 85%;
  max-width: 150rem;
  /** = 1200px**/
  margin: 3rem auto;
}

nav {
  text-align: center;
  font-size: 1.6rem;
}

nav img {
  padding: 1rem;
}

main h1 {
  font-size: 3.5rem;
  font-family: "Coco-Light";
  text-align: center;
}

main h1 span {
  color: #1eb6db;
}

@media screen and (min-width: 768px) {
  main h1 {
    font-size: 6.4rem;
  }
}

@media screen and (min-width: 1224px) {
  main h1 {
    font-size: 10rem;
  }
}

main .highlight {
  height: 300px;
  background-color: black;
  color: white;
}

main p {
  font-size: 2rem;
}

.intro-quantum {
  max-width: 90rem;
  margin: 3rem auto 0 auto;
  text-align: justify;
}

.intro-quantum p {
  margin-bottom: 2rem;
}

/*Inicio - Rover*/
.inicio-rover h2,
.inicio-rover-mobile h2 {
  color: white;
  position: absolute;
  text-align: center;
  top: 45%;
  left: 33%;
  -webkit-transform: translate(-34%, -50%);
          transform: translate(-34%, -50%);
  font-size: 3rem;
  font-weight: 500;
}

.inicio-rover {
  position: relative;
  height: 55vh;
  display: none;
}

.parallax::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.parallax:hover::before {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

section.inicio-rover::before {
  background-image: url(/img/redner-abril2021.png);
  content: "";
}

@media (min-width: 768px) {
  .inicio-rover h2 {
    color: #f0f4f6;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 3.7rem;
    margin: 0;
  }
  .inicio-rover-mobile {
    display: none;
  }
  .inicio-rover {
    display: block;
  }
}

.inicio-rover-mobile {
  background-image: url(/img/render-abril2021Mobile.png);
  background-position: center center;
  position: relative;
  height: 55vh;
}

.encabezado-seccion {
  font-size: 2.8rem;
  text-align: center;
  color: #1eb6db;
}

@media screen and (min-width: 768px) {
  .encabezado-seccion {
    font-size: 3.5rem;
  }
}

.grid-patrocinadores {
  display: -ms-grid;
  display: grid;
  padding: 2rem 6%;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 3rem;
}

.grid-patrocinadores > div {
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.grid-patrocinadores > div .logo-voxart {
  padding: 10%;
}

@media screen and (min-width: 768px) {
  .grid-patrocinadores {
    padding: 2rem 8%;
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
    row-gap: 4rem;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1224px) {
  .grid-patrocinadores {
    padding: 2rem 10%;
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
    row-gap: 5rem;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.grid-medios {
  display: -ms-grid;
  display: grid;
  padding: 0 6%;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 0;
}

.grid-medios > div {
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.grid-medios > div img {
  width: 15rem;
}

@media screen and (min-width: 768px) {
  .grid-medios {
    padding: 2rem 8%;
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
    row-gap: 4rem;
  }
}

@media screen and (min-width: 1224px) {
  .grid-medios {
    padding: 2rem 10%;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
    row-gap: 5rem;
  }
}

.notas {
  background-color: #1eb6db;
  padding: 2rem 0 0 0;
}

.notas h2 {
  color: #212529;
}

/*Footer*/
.site-footer {
  background-color: #0c76c4;
  text-align: center;
  padding: 3rem 0;
  margin-top: 3rem;
}

.site-footer h2 {
  text-align: center;
  font-family: Coco-Light;
  color: white;
}

.site-footer nav:last-of-type {
  padding-right: 0;
}

.site-footer nav a:hover {
  background-color: #212529;
  color: white;
}

.site-footer h3 {
  text-align: center;
  font-size: 4rem;
}

.socialMedia {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem auto;
}

footer img {
  width: 5rem;
  margin: 0 2rem;
}

.site-footer p {
  text-align: center;
  color: white;
  font-size: 1.8rem;
}

.hashtag {
  font-size: 1.5rem;
  margin: 4rem 0;
  color: #1eb6db;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .hashtag {
    font-size: 2.5rem;
  }
}
/*# sourceMappingURL=styles.css.map */